{% extends 'base.html' %}
{% load static %}


{% block title %}Home - Forest.{% endblock %}

{% block content %}
<!--HOME PAGE SECTION-->
<section class="home" id="home">
    <div class="content">
        <h2>We Take Pledge<br>We Plant Trees<br>We Celebrate Birthdays</h2>
        <a href="https://forest.mini.store"><button class="btn">Take Pledge</button></a>
    </div>
</section>

<!--About Section-->
<section class="about">
    <div class="main">
        <img src="{% static 'images/about.jpg' %}">
        <div class="about-text">
            <p>I am the forest, ancient and wise, providing shelter, sustenance, and oxygen...
            </p>
        </div>
    </div>
</section>

<!--Frames Section-->
<div class="service-26">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</div>

<div class="demo">
    <div class="container">
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <img src="{% static 'images/vision.png' %}" style="width: 6rem;">
                    </div>
                    <h3 class="title">VISION</h3>
                    <p class="description">
                        Our Vision is to pave to connect humans with nature again.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <img src="{% static 'images/mission.png' %}" style="width: 6rem;">
                    </div>
                    <h3 class="title">MISSION</h3>
                    <p class="description">
                        Our mission is to celebrate every life born from nature's womb.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <img src="{% static 'images/goal.png' %}" style="width: 6rem;">
                    </div>
                    <h3 class="title">GOAL</h3>
                    <p class="description">
                        Our goal is to give back 1 billion trees to nature.
                    </p>
                </div>
            </div>
        </div>
        <section class="seedlink" id="seedlink">
            <h1 class="heading">TAKE PLEDGE!</h1>
            <div class="seed">
                
    
                
            </div>
        </section>
    </div>
</div>

<!-- Icons Section -->
<section>
    <div class="icons-container">
    
        <div class="icons">
            
            <h3>FOREST. 1</h3>
            <p>
                1 tree Rs. 1000<br>
                4*4 ft secured Land<br>
                Digital card to track your tree<br>
                Certificate of appreciation<br>
                3 year complete care of plant<br>
                Life time cake on birthdays<br>
                Wishes and surprises on<br>
                Your birthday<br><br>
            </p>
            <a href="{% url 'buy_one_tree' %}" class="btn3">Buy Plan</a>
        </div>
    
        <div class="icons">
            
            <h3>FOREST. 5</h3>
            <p>
                5 tree Rs. 5000<br>
                4*4 ft secured Land<br>
                Digital card to track your tree<br>
                Certificate of appreciation<br>
                3 year complete care of plant<br>
                Life time cake on birthdays<br>
                Wishes and surprises on<br>
                Your birthday<br><br>
            </p>
            <a href="{% url 'buy_five_trees' %}" class="btn3">Buy Plan</a>
        </div>
    
        <div class="icons">
            
            <h3>FOREST. 10</h3>
            <p>
                10 tree Rs. 12000<br>
                4*4 ft secured Land<br>
                Digital card to track your tree<br>
                Certificate of appreciation<br>
                3 year complete care of plant<br>
                Life time cake on birthdays<br>
                Wishes and surprises on<br>
                your birthday<br>
                Celebrate birthday In restaurant<br>
                or resort<br><br>
            </p>
            <a href="{% url 'buy_ten_trees' %}" class="btn3">Buy Plan</a>
        </div>
    
    
    
    </div>
        </section>
{% endblock content%}
