<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Payment</title>
    
</head>
<body>
    <h2>Confirm Your Payment</h2>
    <h4>{{ plan.name }} - ₹{{ plan.price }}</h4>
    <button id="pay-button">Pay Now</button>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            "key": "rzp_test_PL6TC1CmHX0BfJ",
            "amount": {{ plan.price }}, // Amount in paise (e.g., 50 INR)
            "currency": "INR",
            "name": "Tree Plantation",
            "description": "{{  plan.name }}",
           "order_id": "{{ order.id }}",
            "handler": function (response){
                // Handle the response data, e.g., redirect to a Django view
                $.post("/payment-success/", {order_id: `{{ order_obj.id }}`, payment_id: response.razorpay_payment_id}, function(data) {
                // Redirect to the success page or perform other actions
                window.location.href = "/payment-success/";
            });
            },
            "prefill": {
                "name": "{{ request.user.first_name }} {{ request.user.last_name }}",
                "email": "{{ request.user.email }}",
                "contact": "{{ request.user.username }}"
            },
            "notes": {
                "address": "{{ order_obj.address }}"
            },
            "theme": {
                "color": "#3399cc"
            }
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
        document.getElementById('rzp-button1').onclick = function(){
           rzp1.open();
       };
    </script>
</body>
</html>
